ENVIRONMENT=development
SUPABASE_URL=
SUPABASE_DB_URL=
SUPABASE_ANON_KEY=
FINNHUB_API_KEY=
TWELVEDATA_API_KEY=
GOOGLE_API_KEY=
RESEND_API_KEY=
NOTIFICATION_FROM_EMAIL=Trendus <alerts@trendus.app>
CORS_ORIGINS=http://localhost:3000,http://localhost:8081
